//text
.txt-site {
	&.txt-big {
		font-size: 42pt;
	}
	&.txt-small {
		font-size: 32pt;
	}
	&.txt-micro {
		font-size: 26pt;
	}
	&.txt-standar {
		font-size: 22pt;
	}
	&.txt-title {
		font-size: 18pt;
	}
	&.txt-subtitle {
		font-size: 16pt;
	}
	&.txt-description {
		font-size: 11pt;
	}
	&.txt-8 {
		font-size: 8pt;
	}
	&.txt-9 {
		font-size: 9pt;
	}
	&.txt-10 {
		font-size: 10pt;
	}
	&.txt-11 {
		font-size: 11pt;
	}
	&.txt-12 {
		font-size: 12pt;
	}
	&.txt-13 {
		font-size: 13pt;
	}
	&.txt-14 {
		font-size: 14pt;
	}
	&.txt-15 {
		font-size: 15pt;
	}
	&.txt-16 {
		font-size: 16pt;
	}
	&.txt-17 {
		font-size: 17pt;
	}
	&.txt-18 {
		font-size: 18pt;
	}
	&.txt-19 {
		font-size: 19pt;
	}
	&.txt-20 {
		font-size: 20pt;
	}
	&.txt-init {
		color: $min-color;
	}
	a {
		text-decoration: none;
		&.txt-main {
			color: $txt-84-color;
			&:hover {
				color: $min-color;
			}
		}
	}
	&.txt-main {
		color: $txt-84-color;
		a {
			text-decoration: none;
			color: $txt-84-color;
			&:hover {
				color: $min-color;
			}
		}
	}
	a {
		text-decoration: none;
		&.txt-primary {
			color: $txt-54-color;
			&:hover {
				color: $txt-84-color;
			}
		}
	}
	&.txt-primary {
		color: $txt-54-color;
		a {
			color: $txt-54-color;
			text-decoration: none;
			&:hover {
				color: $txt-84-color;
			}
		}
	}
	&.txt-main-hover {
		&:hover {
			color: $min-color;
		}
	}
	&.txt-white {
		color: #fff;
	}
	&.txt-danger {
		color: $err-color;
	}
	&.txt-safe {
		color: $pos-color;
	}
	&.txt-white {
		color: #fff;
	}
	&.txt-bold {
		font-weight: 600;
		font-family: "FontFirstBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	&.txt-extra-bold {
		font-weight: 600;
		font-family: "FontFirstExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	&.txt-thin {
		font-weight: 500;
		font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	&.txt-font-1 {
		font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	&.txt-font-2 {
		font-family: "FontFirst2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	&.txt-font-3 {
		font-family: "FontFirst3", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	&.txt-center {
		text-align: center;
	}
	&.txt-left {
		text-align: left;
	}
	&.txt-right {
		text-align: right;
	}
	&.txt-capital {
		text-transform: capitalize;
	}
	&.txt-capital {
		text-transform: capitalize;
	}
	&.txt-top {
		@include post_top(relative);
	}
	&.txt-middle {
		@include post_center(relative);
	}
}