//fonts
@font-face {
	font-family: "FontFirst";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "FontFirstBold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
	font-family: "FontFirstExtraBold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "FontFirst3";
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

//variable
$col-full : 800px;
$max-width : 800px;
$std-width : 500px;
$min-width : 300px;

//radius
$radius: 15px;
$radius-2: 7.5px;
$radius-3: 5px;

//color
$min-color : #bd081c;
$sek-color : #fff;
$pos-color : #529ecc;
$del-color : #9a0000;
$err-color : #ff0000;
$pri-color : #f3f3f3;
$txt-84-color: rgba(0,0,0,0.84);
$txt-54-color: rgba(0,0,0,0.54);
$txt-34-color: rgba(0,0,0,0.34);
$txt-min-color: rgba(0,0,0,0.84);
$txt-sek-color: rgba(0,0,0,0.54);
$txt-size-title: 22px;
$txt-size-desc: 14px;
$txt-size-desc: 14px;
$txt-size-big: 32px;
$txt-size-12px: 12px;
$txt-size-14px: 14px;
$txt-size-16px: 16px;
$txt-size-18px: 18px;
$txt-size-20px: 20px;

$border: 1px #f3f3f3 solid;
$border2: 1px rgba(0,0,0,0.2) solid;
$no-border: 0 #fff solid;